*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, Arial, Helvetica, sans-serif;
}
/*navbar*/
.nav{
     margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links{
    display: flex;
    list-style: none;
    color: gray;
    gap: 40px;
}
.nav-links a:hover{
    color: black;
    cursor: pointer;
}
/*About*/
.dot {
        margin-top: 20px;
        display:inline-block;
    }
    .doctors {
      display: flex;
    }
    .only-about{
         margin-left: 120px;
        display: flex;
        gap: 180px;
         justify-content:space-between;
    }
    .img{
        margin-top: 60px;
    }
    .about-doctors{
       margin-top: 160px;
       line-height: 35px;
    }
    .doctors-image{
        margin-bottom: 30px;
    }
    .para{
        margin-top: 20px;
        color: gray;
        line-height: 25px;
    }
    .btn{
        background-color:#55a1fc;
        color:white ;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
    }
.btn:hover{
    background-color: white;
    color:#55a1fc;
     border: 2px solid #55a1fc;
}

/*Services*/
 .section1{
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 100px;
    }
    .service{
        text-align: center;
        margin-bottom: 20px;
    }
    .nothing{
        border-bottom: 2px solid black;
        width: 45px;
        margin-left: 520px;
        margin-bottom: 20px;
    }
     .provide{
        text-align: center;
        color: gray;
    }
    .incon{
         padding:20px ;
    }
    .incon h3{
        margin-top: 10px
    }
    .imges{
        margin-top: 80px;
        margin-left: 50px;
        display: flex;
        justify-content: space-between;  
    }

    .images{
         margin-top: 40px;
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
    }
    .choose{
        color: gray;
        font-size: 15px;
        margin-top: 10px;
    }
.container1{
          border: 1px solid white ;
          background-color:  #eff3ff ;
          border-radius: 10px;
    }
.container1:hover{
    transform: scale(1.07);
} 
    .container2{
        background-color: #eff3ff;
        border: 1px solid white;
        width: 270px;
         border-radius: 10px;
    }
.container2:hover{
    transform: scale(1.07);
} 
    .container3{
        border: 1px solid white;
         background-color:#eff3ff;
        width: 270px;
         border-radius: 10px;
    }
.container3:hover{
    transform: scale(1.07);
} 
    .container4{
        border: 1px solid white;
         background-color: #eff3ff;
        width: 280px;
         border-radius: 10px;
    }
.container4:hover{
    transform: scale(1.07);
} 
    .container5{
        border: 1px solid white;
         background-color: #eff3ff;
        width: 270px;
         border-radius: 10px;
    }
.container5:hover{
    transform: scale(1.07);
} 
    .container6{
        border: 1px solid white;
         background-color:#eff3ff;
        width: 270px;
         border-radius: 10px;
    }
.container6:hover{
    transform: scale(1.07);
} 
    .learn{
      margin-top: 60px;
      margin-left: 460px;
      border: 2px solid #55a1fc;
      border-radius: 20px;
      background-color: white;
      padding: 10px 30px;
      color:#55a1fc ;
    }
.learn:hover{
    background-color: #55a1fc;
    color: white;
}
/*Healthcare providers*/
    .section2{
         margin-left: 200px;
        margin-right: 200px;
    }
    .health{
      margin-top: 200px;
      display: flex;
      justify-content: space-between;
    }
    .healthcare{
      margin-top: 50px;
    }
    .healthcare p{
      color: grey;
      line-height: 25px;
    }
    .margin{
      border: 1.5px solid black;
      width: 40px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .btn1{
      margin-top: 30px;
      border: 2px solid #55a1fc;
      border-radius: 20px;
      background-color: white;
      padding: 10px 30px;
      color:#55a1fc ;
    }
.btn1:hover{
    background-color: #55a1fc;
    color: white;
}
    .dots{
      margin-left: 1400px;
    }
/*Download mobile app*/
        .section3{
       margin-left: 200px;
        margin-right: 200px;
    }
    .mobileapp{
        margin-top: 50px;
      display: flex;
      justify-content: space-between;
    }
/*Customers*/
     .section4{
       margin-left: 200px;
        margin-right: 200px;margin-top: 100px;
        margin-top: 200px;
       background-image: linear-gradient(to right,#5a98f2 ,#65bef3 );
       border-radius: 10px;
     }
     .customer{
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      padding-bottom: 30px;
     }
     .founder{
      display:flex;
     }
     .founder h1{
      margin-top: 30px;
      margin-left: 300px;
      color: white;
     }
     .founder img{
      margin-left: 270px;
     }
     .customer p{
      color:white;
     }
     .bia{
      display: flex;
      align-items:center ;
      color: white;
      gap: 10px;
     }
     .margin2{
      margin-top: 10px;
      border: 1.5px solid white;
      width: 50px;
      margin-left: 500px;
     }
/*Latest article*/
     .section5{
      margin-top: 200px;
      margin-left: 200px;
      margin-right: 200px;
    }
    .section5 h1{
      text-align: center;
    }
    .margin3{
      margin-top: 20px;
      border: 1.5px solid black;
      width: 60px;
      margin-left: 500px;
      margin-bottom: 50px;
    }
    .patient{
      display: flex;
      justify-content: space-between;
    }
    .small{
        background-color: #eff3ff;
        padding-bottom: 20px;
    }
.small:hover{
    transform: scale(1.07);
}
    .small h3{
      padding-top: 20px;
      line-height: 20px;
       margin-left: 20px;
    }
    .small p{
      padding-top: 20px;
      color: grey;
      padding-bottom: 20px;
      line-height: 20px;
       margin-left: 20px;
       
    }
    .small span{
      color:#55a1fc ;
       margin-left: 20px;
    }
    .button3{
      margin-left: 450px;
      margin-top: 60px;
      border: 2px solid #55a1fc;
      border-radius: 20px;
      background-color: white;
      padding: 10px 30px;
      color:#55a1fc ;
    } 
.button3:hover{
    background-color: #55a1fc;
    color: white;
}
/*footer*/  
footer {
      background-image: linear-gradient(to right, #5a98f2, #65bef3);
    }
    .section6 {
      padding-top: 80px;
      margin-left: 200px;
      margin-right: 200px;
      display: flex;
      justify-content: space-between;
      list-style: none;
      color: white;
    }
    .newt {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      font-size: 30px;
    }
    .section6 p {
      margin-bottom: 20px;
    }
    .section6 span {
      margin-bottom: 20px;
    }
    .section6 h3{
          margin-bottom: 20px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .dot4{
      margin-left: 1300px;
       margin-top: 150px;
    }